<div class="pull-right">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Acessar", new_session_path(resource_name) %>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Cadastrar", new_registration_path(resource_name) %>
  <% end -%>
</div>
